
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
/>

<p>departamento-list works!</p>

<button mat-raised-button color="accent" (click)="nuevo()">Agregar</button>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="codigoDepartamento">
        <th mat-header-cell *matHeaderCellDef> Codigo </th>
        <td mat-cell *matCellDef="let element"> {{element.codigoDepartamento}} </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef> Acción </th>
        <td mat-cell *matCellDef="let departamento">
          
            <button mat-icon-button color="accent" type="button"
              (click)="editarDepartamento(departamento)"
              matTooltip="Editar"
              aria-label="Editar">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="accent" type="button"
                [routerLink]="['/provincias/list/', departamento.codigoDepartamento]"
                matTooltip="Provincias"
                aria-label="Editar">
            <mat-icon>list</mat-icon>
          </button>

          
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>