<p>escuela-conductor-details works!</p>

<mat-card class="card-container">
  <div>
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Escuela de Conductores</mat-card-title>
    
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="frmEscuelaDetails" (ngSubmit)="save()">
    
          <!-- CAMPOS ADICIONALES -->
          <div class="row mb-3">
            <div class="col-md-8">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nombre de la Escuela</mat-label>
                <input 
                  matInput 
                  type="text"
                  formControlName="nombreEscuela"
                  placeholder="av. abc" 
                  >
                  @if (getControl('nombreEscuela')?.valid && !getControl('nombreEscuela')?.touched) {
                    <mat-hint>Ingrese u nombre válido.</mat-hint>
                  }
                  
                  @if (getControl('nombreEscuela')?.touched || getControl('nombreEscuela')?.dirty) {
                    @if (getControl('nombreEscuela')?.hasError('required')) {
                      <mat-error>El nombre es <strong>requerido</strong>.</mat-error>
                    } @else if (getControl('nombreEscuela')?.hasError('minlength')) {
                      <mat-error>Debe tener al menos <strong>3 caracteres</strong>.</mat-error>
                    } @else if (getControl('nombreEscuela')?.hasError('maxlength')) {
                      <mat-error>No puede superar los <strong>200 caracteres</strong>.</mat-error>
                    }
                  }
                </mat-form-field>
            
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>RUC</mat-label>
                <input 
                  matInput 
                  type="number"
                  formControlName="RUC"
                  placeholder="" 
                  >
                  @if (getControl('RUC')?.valid && !getControl('RUC')?.touched) {
                    <mat-hint>Digite un número de teléfono válido, por favor.</mat-hint>
                  }
                  
                  @if (getControl('RUC')?.touched || getControl('RUC')?.dirty) {
                    @if (getControl('RUC')?.hasError('required')) {
                      <mat-error>El RUC es <strong>requerido</strong></mat-error>
                    } @else if (getControl('RUC')?.hasError('pattern')) {
                      <mat-error>Debe contener <strong>11 dígitos numéricos</strong></mat-error>
                    } 
                  }
                </mat-form-field>
            
            </div>
          </div>
          
          <div class="row mb-3">
            <!-- Departamento -->
            <div class="col-md-4">
              <mat-form-field appearance="fill" appearance="outline"  class="w-100">
                <mat-label>Departamento</mat-label>
                <mat-select formControlName="departamento" (selectionChange)="onDepartamentoChangeEvent($event)">
                  <mat-option *ngFor="let depto of departamentos" [value]="depto.codigoDepartamento">
                    {{depto.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
      
            </div>
            <!-- Provincia -->
            <div class="col-md-4">
              <mat-form-field appearance="fill" appearance="outline"  class="w-100">
                <mat-label>Provincia</mat-label>
                <mat-select formControlName="provincia" (selectionChange)="onProvinciaChangeEvent($event)">
                  <mat-option *ngFor="let prov of provincias" [value]="prov.codigoProvincia">
                    {{ prov.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
      
            </div>
            <!-- Distrito -->
            <div class="col-md-4">
              <mat-form-field appearance="fill" appearance="outline"  class="w-100">
                <mat-label>Distrito</mat-label>
                <mat-select formControlName="distrito">
                  <mat-option *ngFor="let dist of distritos" [value]="dist.codigoDistrito">
                    {{ dist.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
    
          <div class="row mb-3">
            <div class="col-md-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Dirección</mat-label>
                <input 
                  matInput 
                  type="text"
                  formControlName="direccion"
                  placeholder="av. abc" 
                  >
                  @if (getControl('direccion')?.valid && !getControl('direccion')?.touched) {
                    <mat-hint>Ingrese una dirección válida.</mat-hint>
                  }
                  
                  @if (getControl('direccion')?.touched || getControl('direccion')?.dirty) {
                    @if (getControl('direccion')?.hasError('required')) {
                      <mat-error>La dirección es <strong>requerida</strong>.</mat-error>
                    } @else if (getControl('direccion')?.hasError('minlength')) {
                      <mat-error>Debe tener al menos <strong>3 caracteres</strong>.</mat-error>
                    } @else if (getControl('direccion')?.hasError('maxlength')) {
                      <mat-error>No puede superar los <strong>200 caracteres</strong>.</mat-error>
                    }
                  }
                </mat-form-field>
            
            </div>
          </div>
         
         
      
      
          <div class="row mb-3">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email</mat-label>
                <input
                  type="email"
                  matInput
                  formControlName="correo"
                  placeholder="email@example.com"
                />
                @if (getControl('correo')?.valid && !getControl('correo')?.touched) {
                  <mat-hint>Usa un correo válido, por favor.</mat-hint>
                }
                
                @if (getControl('correo')?.touched || getControl('correo')?.dirty) {
                  @if (getControl('correo')?.hasError('required')) {
                    <mat-error>El correo es <strong>requerido</strong></mat-error>
                  } @else if (getControl('correo')?.hasError('email')) {
                    <mat-error>Por favor, introduce un correo válido</mat-error>
                  }
                }
              </mat-form-field>
            </div>
      
            <!-- Teléfono -->
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Teléfono</mat-label>
                <input 
                  matInput 
                  type="tel"
                  formControlName="telefono"
                  placeholder="987654321" 
                  >
                  @if (getControl('telefono')?.valid && !getControl('telefono')?.touched) {
                    <mat-hint>Digite un número de teléfono válido, por favor.</mat-hint>
                  }
                  
                  @if (getControl('telefono')?.touched || getControl('telefono')?.dirty) {
                    @if (getControl('telefono')?.hasError('required')) {
                      <mat-error>El teléfono es <strong>requerido</strong></mat-error>
                    } @else if (getControl('telefono')?.hasError('pattern')) {
                      <mat-error>Debe contener <strong>9 dígitos numéricos</strong></mat-error>
                    } @else if (getControl('telefono')?.hasError('maxlength')) {
                      <mat-error>Excede el <strong>máximo permitido</strong></mat-error>
                    }
                  }
                </mat-form-field>
              </div>
            </div>
          
          <!-- Estado (Lista fija) -->
          <div class="mb-3">
            <mat-form-field appearance="fill" appearance="outline"  class="w-100">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="estado">
                <mat-option value="ConAutorización">Con autorización</mat-option>
                <mat-option value="SinAutorización">Sin autorización</mat-option>
              </mat-select>
            </mat-form-field>
      
          </div>
          
          <!-- BOTONES -->
          <div class="d-flex justify-content-end">
            <button mat-flat-button color="accent" type="submit" >
              @if (idEscuelaConductor == 0)
              {
                Agregar
              }@else{
                Modificar
              }
            </button>
            <button mat-stroked-button color="primary" type="button" (click)="onCancel()">Cancelar</button>
          </div>
        </form>
      </mat-card-content>  
    </mat-card>
  </div>
</mat-card>

